{% extends 'crispy_base.html' %}
{% block content %}
<br>
    <div class="row">
      <div class="col-md-6">
          <div class="card card-body">
             <p>Are you sure you want to permanently delete employee {{ item }} from Head Office Employee list?</p>
              <p>Be reminded that by confirming you agree to permanently delete {{ item }} and this process cannot be reversed!</p>

             <form action="{% url 'delete_octagon_employee' item.id%}" method="POST">
                {% csrf_token %}
                <a class="btn btn-outline-info" href="{% url 'octagon_employees' %}">Cancel</a>

                <button class="btn btn-outline-info" type="submit">Confirm</button>

             </form>
          </div>
      </div>

    </div>
{% endblock %}