{% extends "octagon/report_base.html" %}
{% block title %}Summary Report - {{ title }}{% endblock title %}


{% block content %}
 <div class="col-md-12">
 <div class="container" style="text-align: center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Employees Summary Reports </h1>
        <h2 class="display-4"> {{ title }} </h2>
      </div>
    </div>
</div>

     <div class="table-responsive">
         <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th><input type="checkbox" id="checkall" /></th>
                <th>Number</th>
                <th>Name</th>
                <th>User ID</th>
                <th>Department</th>
                <th>Regular Hours</th>
                <th>Overtime Hours</th>
                <th>Total Hours</th>
            </thead>
     <tbody>
   {% for user in employees %}
    <tr>
     <td><input type="checkbox" class="checkthis" /></td>
     <td>{{ user.employee_id }}</td>
     <td>{{ user }}</td>
     <td>{{ user.id }}</td>
     <td>{{ user.department }}</td>
     <td>{{ user.regular }}</td>
     <td>{{ user.ot }}</td>
     <td>{{ user.total }}</td>
    </tr>
   {% endfor %}
   </tbody>
  </table>
        </div>
 </div>
{% endblock content %}