{#{% extends "crispy_base.html" %}#}
{#{% block title %}About{% endblock title %}#}
{#{% block content %}#}
{#    <div class="jumbotron">#}
{#        <h3>#}
{#            This is a Printer Support system developed for Printer Support Team in Margins Technical Group. This system allows the technicians to create an account, get account activated by an admin, log in, logout and manage the printers with the available functionalities provided in the homepage. It is still under development especially the UI. We humbly promise the technicians to exercise patient with the system as we do our best to improve the functionalities as well as the user experience. Thank You!#}
{#        </h3>#}
{#    </div>#}
{#{% endblock content %}#}



{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block content %}
  <h3>
    This is a Maintenance Portal developed for RepairShop in Margins Technical Group. This system allows the users to create an account, get account activated by an admin with user rights, account access options and manage the printers, MRWs, ISSs and the Laminators with the available functionalities provided in the homepage. It is still under development especially the UI. We humbly promise the users to exercise patient with the system as we do our best to improve the functionalities as well as the user experience. Thank You!
  </h3>

    <nav class="login-card-footer-nav">
        <a href="#!">Terms of use.</a>
        <a href="#!">Privacy policy</a>
    </nav>
{% endblock %}